{
  "root": true,

  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },

  "ignorePatterns": ["src/pages/static/**"],

  "extends": [
    "eslint-config-prettier",
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],

  "plugins": ["prettier"],

  "rules": { "prettier/prettier": "error" }
}
