# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist/

# Resilio Sync
.sync

# Large Files
*.mov
unused
multimedia

# PPK
*.ppk
*id_rsa_openssh*

# Other
_.swp
.git.bfg-report