# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist/

# Misc
.sync
/misc

# Large Files
# TODO: Optimize film/, vml-hub-branding/, and benoit-golf-tournament/
*.mov
unused/
multimedia/
film/
vml-hub-branding/
benoit-golf-tournament/

# PPK
*.ppk
*.rsa

# Other
_.swp
.git.bfg-report
_config.yml
id_rsa
.stylelintignore
sw.*
sshLogin.sh
.eslint*
