/* !--------------------------!
          .container
   !--------------------------! */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 9fr 1fr;
  grid-template-rows: [head] auto [abt-body] auto [foot] auto;
  grid-template-areas:
    'pr header ... ... pl'
    'pr content col col pl'
    'footer footer footer footer footer';
  grid-gap: 8rem 10px;
  grid-auto-rows: minmax(auto, auto);
}

/* !--------------------------!
             Nav
   !--------------------------! */
.main-nav {
  grid-column: pr / pl-end;
  grid-row: head;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 35px 60px -27px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 0;
}

.main-header-position {
  grid-column: 2/3;
  grid-row: head;
  z-index: 102;
}

.ghost-header-position {
  grid-column: 2/3;
  grid-row: head;
  color: rgba(0, 0, 0, 0.1);
}

.main-header {
  transition: all 0.25s;
}

.main-header:hover {
  text-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.05),
    4px 4px 2px rgba(0, 0, 0, 0.05),
    6px 6px 3px rgba(0, 0, 0, 0.05);
}

.home-hider {
  opacity: 100%;
  transition: all 0.25s;
}

.nav-item-1 {
  grid-column: 3/4;
}

.nav-item-2 {
  grid-column: 4/5;
}

.nav-item-3 {
  grid-column: 5/6;
}

@media only screen and (max-width: 820px) {
  .home-hider {
    opacity: 0;
  }
}

/* !--------------------------!
        section elements
   !--------------------------! */
.t {
  grid-column: intro;
}

.c {
  grid-column: intro;
  grid-row: span 2;
}

.tt {
  grid-column: main;
}

#exhibition-catalog .tt:nth-of-type(1),
#human-interest .tt:nth-of-type(1),
#patterns .tt:nth-of-type(1),
#senior-project .tt:nth-of-type(1),
#sting-vodka-branding .tt:nth-of-type(1),
#textile-patterns .tt:nth-of-type(1),
#wip .tt:nth-of-type(1) {
  grid-row-start: 1;
}

.isotope-grid,
.main-wip {
  grid-column: main;
}

.img-one {
  grid-column: main;
}

.img-two,
.img-three {
  grid-column: img;
}

.blk-lg {
  grid-column: span 2;
}

.blk-sm {
  grid-column: span 1;
}

/* !--------------------------!
             #home
   !--------------------------! */
#home {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'intro  main main main main  .....';
  grid-gap: 8rem 10px;
}

/* !--------------------------!
           Misc
   !--------------------------! */
img.img-fluid-one,
img.img-fluid-two {
  width: 100%;
}

.block-space {
  grid-column: content;
  display: inherit;
}

.wip img {
  width: 100%;
  height: auto;
}

.home-int {
  grid-area: intro;
  grid-row: span 1;
}

.home-body {
  grid-area: body;
  grid-row: span 1;
}

/* !--------------------------!
          .isotope-grid
   !--------------------------! */
.isotope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12rem 10px;
}

.element-item {
  grid-column: span 3;
}

/* !--------------------------!
          Page grids
   !--------------------------! */
section {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: 'intro main main main main img';
  grid-gap: 3rem 10px;
}

.blk-lg.bump {
  grid-column-start: 2;
  grid-column-end: 4;
}

.blk-sm.bump {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* !--------------------------!
              Footer
   !--------------------------! */
.main-footer {
  grid-area: footer;
  text-align: center;
  margin-top: 4vh;
}

/* !--------------------------!
        Responsive classes
   !--------------------------! */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  section {
    grid-column: content / col-end;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-areas: 'intro main main img';
    grid-gap: 3rem 10px;
  }

  section .t {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  section .tt,
  .img-one {
    grid-column: main;
  }

  #exhibition-catalog .tt:nth-of-type(1),
  #human-interest .tt:nth-of-type(1),
  #patterns .tt:nth-of-type(1),
  #senior-project .tt:nth-of-type(1),
  #sting-vodka-branding .tt:nth-of-type(1),
  #textile-patterns .tt:nth-of-type(1),
  #wip .tt:nth-of-type(1) {
    grid-row-start: 2;
  }

  section#home {
    grid-column: content / col-end;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-areas: 'intro main main img';
    grid-gap: 5rem 10px;
  }

  section#home .t {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* Idk what to do about all this at the moment. */

  /* div.img-one {
    overflow: hidden;
    height: auto;
  }

  .img-fluid-one {
    height: auto;
    width: 100%;
  }

  div.img-two div,
  div.img-three div {
    overflow: hidden;
    height: 20rem;
    width: 30rem;
  }

  .img-two,
  .img-three {
    grid-column: img;
    overflow: hidden;
  }

  .img-fluid-two {
    width: 100%;
    overflow: hidden;
  } */

  .odd,
  .odd.bump {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .even {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  section#home,
  section#about,
  section {
    grid-column: content / col-end;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-areas: 'intro main main img';
    grid-gap: 3rem 10px;
  }

  section .t,
  section#home .t {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  section#about .t {
    grid-column: 1 / 3;
  }

  section .tt,
  .img-one,
  section#home .tt,
  #home.isotope-grid,
  section#about .tt,
  .blk-sm,
  .blk-lg {
    grid-column: span 2 / 4;
  }

  #exhibition-catalog .tt:nth-of-type(1),
  #human-interest .tt:nth-of-type(1),
  #patterns .tt:nth-of-type(1),
  #senior-project .tt:nth-of-type(1),
  #sting-vodka-branding .tt:nth-of-type(1),
  #textile-patterns .tt:nth-of-type(1),
  #wip .tt:nth-of-type(1) {
    grid-row-start: 2;
  }

  .odd.small {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .even.small {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .img-two,
  .img-three {
    grid-column: img;
  }

  .img-fluid-two {
    width: 160%;
  }
}

@media only screen and (max-width: 600px) {
  section#home,
  section#about,
  section {
    grid-column: content / col-end;
    display: grid;
    grid-template-columns: 0.25fr 2fr 2fr;
    grid-template-areas: 'pr main main';
    grid-gap: 3rem 10px;
  }

  section .c {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  section .t,
  section#home .t,
  section#about .t {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  section .tt {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  section .tt:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  section#home .tt,
  #home.isotope-grid,
  section#about .tt,
  section#about .blk-lg {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #exhibition-catalog .tt:nth-of-type(1),
  #human-interest .tt:nth-of-type(1),
  #patterns .tt:nth-of-type(1),
  #senior-project .tt:nth-of-type(1),
  #sting-vodka-branding .tt:nth-of-type(1),
  #textile-patterns .tt:nth-of-type(1),
  #wip .tt:nth-of-type(1) {
    grid-row-start: 2;
  }

  section#about .blk-lg.odd.small {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  section#about .blk-lg.even.small {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .odd.small {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .even.small {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  /* .nav-item-1 {
    z-index: -100;
  } */

  .img-one {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .img-two,
  .img-three {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .img-fluid-two {
    width: 160%;
  }
}
