/* !--------------------------!
          .container
   !--------------------------! */
.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: [head] auto [body] auto [foot] auto;
  grid-template-areas:
    "pr header . . . . . pl"
    "pr content col col col col col pl"
    "footer footer footer footer footer footer footer footer";
  grid-gap: 8rem 10px;
  grid-auto-rows: minmax(auto, auto);
}

.main-header {
  grid-area: header;
  z-index: 101;
}

.main-nav {
  grid-column: pr / pl-end;
  grid-row: head;
  align-self: center;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 0;
}

.nav-item-1 {
  grid-column: 3/4;
}

.nav-item-2 {
  grid-column: 4/5;
}

.nav-item-3 {
  grid-column: 5/6;
}

.main-footer {
  grid-area: footer;
  text-align: center;
}

/* !--------------------------!
             .section
   !--------------------------! */
section {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas: "content colz colz colz colz colz";
  grid-gap: 12rem 10px;
}

.t {
  grid-column: content;
}

.tt,
.isotope-grid,
.main-wip {
  grid-column: colz;
}

.img-one {
  grid-column: colz;
}

.img-two {
  grid-column: content;
}

.blk-lg {
  grid-column: span 2 colz;
}

.blk-sm {
  grid-column: span 1 colz;
}

/* !--------------------------!
          .isotope-grid
   !--------------------------! */
.isotope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12rem 10px;
}

.element-item {
  grid-column: span 3;
}

/* !--------------------------! */
.home-btn {
  grid-column: 1/7;
  text-align: center;
}
