/* !--------------------------!
          .container
      TODO: Fix lint error?
   !--------------------------! */
.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: [head] auto [abt-body] auto [foot] auto;
  grid-template-areas:
    "pr header ... ... ... ... ... pl"
    "pr content col col col col col pl"
    "footer footer footer footer footer footer footer footer";
  grid-gap: 8rem 10px;
  grid-auto-rows: minmax(auto, auto);
}

.main-header {
  grid-area: header;
  z-index: 101;
}

.main-nav {
  grid-column: pr / pl-end;
  grid-row: head;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 0;
}

.nav-item-1 {
  grid-column: 3/4;
}

.nav-item-2 {
  grid-column: 4/5;
}

.nav-item-3 {
  grid-column: 5/6;
}

.main-footer {
  grid-area: footer;
  text-align: center;
}

/* !--------------------------!
             .section
   !--------------------------! */
section {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 12rem 10px;
}

.t {
  grid-column: content;
}

.tt,
.isotope-grid,
.main-wip {
  grid-column: col;
  margin-bottom: 8vh;
}

.img-one {
  grid-column: col;
}

.img-two {
  grid-column: img;
}

.img-three {
  grid-column: img;
}

.blk-lg {
  grid-column: span 2 col;
}

.blk-sm {
  grid-column: span 1 col;
}

.space-6 {
  grid-area: space-6;
  height: 80px;
}

.space-5 {
  grid-area: space-5;
  height: 80px;
}

.space-4 {
  grid-area: space-4;
  height: 80px;
}

.space-3 {
  grid-area: space-3;
  height: 80px;
}

.space-2 {
  grid-area: space-2;
  height: 80px;
}

.space-1 {
  grid-area: space-1;
  height: 80px;
}

.space {
  grid-column: 1 / 7;
  height: 80px;
}

.spacer-6 {
  grid-area: spacer-6;
  height: auto;
  width: auto;
}

.spacer-5 {
  grid-area: spacer-5;
  height: auto;
  width: auto;
}

.spacer-4 {
  grid-area: spacer-4;
  height: auto;
  width: auto;
}

.spacer-3 {
  grid-area: spacer-3;
  height: auto;
  width: auto;
}

.spacer-2 {
  grid-area: spacer-2;
  height: auto;
  width: auto;
}

.spacer-1 {
  grid-area: spacer-1;
  height: auto;
  width: auto;
}

.home-btn {
  grid-area: home-btn;
  text-align: center;
}

/* !--------------------------!
          .isotope-grid
   !--------------------------! */

.isotope-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12rem 10px;
}

.element-item {
  grid-column: span 3;
}

/* !--------------------------!
             #home
   !--------------------------! */

#home {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas: "home-int  home-body  home-body  home-body home-body  .....";
  grid-gap: 3rem 10px;
}

.wip img {
  width: 100%;
  height: auto;
}

.home-int {
  grid-area: home-int;
  grid-row: span 1;
}

.home-body {
  grid-area: home-body;
  grid-row: span 1;
}

/* !--------------------------!
             #about
   !--------------------------! */

#about {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas:
    "abt-int-1   abt-body-1   abt-body-1   abt-body-1   abt-body-1   ......"
    "abt-int-2   abt-body-2   abt-body-2   abt-body-2   abt-body-2   abt-body-2"
    "abt-int-3   abt-body-3   abt-body-3   abt-body-3   abt-body-3   abt-body-3"
    "abt-int-3   abt-body-3   abt-body-3   abt-body-3   abt-body-3   abt-body-3"
    "abt-int-4   abt-body-4   abt-body-4   abt-body-4   abt-body-4   abt-body-4"
    "abt-int-5   abt-body-5   abt-body-5   abt-body-5   abt-body-5   abt-body-5"
    "abt-int-6   abt-body-6   abt-body-6   abt-body-6   abt-body-6   abt-body-6"
    "abt-int-6   abt-body-7   abt-body-7   abt-body-7   abt-body-7   abt-body-7"
    "abt-int-8   abt-body-8   abt-body-8   abt-body-8   abt-body-8   abt-body-8";
  grid-gap: 3rem 10px;
}

.abt-int-8 {
  grid-area: abt-int-8;
}

.abt-body-8 {
  grid-area: abt-body-8;
  grid-column: span 1;
}

.abt-int-7 {
  grid-area: abt-int-7;
}

.abt-body-7 {
  grid-area: abt-body-7;
  grid-column: span 1;
}

.abt-int-6 {
  grid-area: abt-int-6;
}

.abt-body-6 {
  grid-area: abt-body-6;
  grid-column: span 1;
}

.abt-int-5 {
  grid-area: abt-int-5;
}

.abt-body-5 {
  grid-area: abt-body-5;
  grid-column: span 1;
}

.abt-int-4 {
  grid-area: abt-int-4;
}

.abt-body-4 {
  grid-area: abt-body-4;
  grid-column: span 2;
}

.abt-int-3 {
  grid-area: abt-int-3;
}

.abt-body-3 {
  grid-area: abt-body-3;
  grid-column: span 2;
  grid-row: span 1;
}

.abt-int-2 {
  grid-area: abt-int-2;
}

.abt-body-2 {
  grid-area: abt-body-2;
  grid-column: span 2;
}

.abt-int-1 {
  grid-area: abt-int-1;
}

.abt-body-1 {
  grid-area: abt-body-1;
}

/* !--------------------------!
         #senior-project
   !--------------------------! */

#senior-project {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas:
    "sp-int-1   sp-body-1   sp-body-1   sp-body-1   sp-body-1   sp-body-1"
    "spacer-1   sp-img-1    sp-img-1    sp-img-1    sp-img-1    thmb-1"
    "spacer-1   sp-img-1    sp-img-1    sp-img-1    sp-img-1    thmb-2"
    "capt-1     sp-body-2   sp-body-2   sp-body-2   sp-body-2   ......"
    "spacer-2   sp-img-2    sp-img-2    sp-img-2    sp-img-2    thmb-3"
    "spacer-2   sp-body-4   sp-body-4   sp-body-4   sp-body-4   ......"
    "spacer-3   sp-img-3    sp-img-3    sp-img-3    sp-img-3    thmb-4"
    "spacer-3   sp-img-3    sp-img-3    sp-img-3    sp-img-3    thmb-5"
    "spacer-3   sp-body-5   sp-body-5   sp-body-5   sp-body-5   ......"
    "spacer-4   sp-img-4    sp-img-4    sp-img-4    sp-img-4    thmb-6"
    "spacer-4   sp-body-6   sp-body-6   sp-body-6   sp-body-6   ......";
  grid-gap: 3rem 10px;
}

.capt-2 {
  grid-area: capt-2;
  align-self: start;
  justify-self: end;
}

.capt-1 {
  grid-area: capt-1;
  align-self: start;
  justify-self: end;
}

.thmb-6 {
  grid-area: thmb-6;
  align-self: center;
}

.thmb-5 {
  grid-area: thmb-5;
  align-self: start;
}

.thmb-4 {
  grid-area: thmb-4;
  align-self: end;
}

.thmb-3 {
  grid-area: thmb-3;
  align-self: center;
}

.thmb-2 {
  grid-area: thmb-2;
  align-self: start;
}

.thmb-1 {
  grid-area: thmb-1;
  align-self: end;
}

.sp-body-6 {
  grid-area: sp-body-6;
  grid-column: span 4;
}

.sp-body-5 {
  grid-area: sp-body-5;
  grid-column: span 4;
}

.sp-body-4 {
  grid-area: sp-body-4;
  grid-column: span 4;
}

.sp-body-2 {
  grid-area: sp-body-2;
  grid-column: span 4;
}

.sp-body-1 {
  grid-area: sp-body-1;
  grid-column: span 4;
}

.sp-img-4 {
  grid-area: sp-img-4;
  grid-column: span 4;
}

.sp-img-3 {
  grid-area: sp-img-3;
  grid-column: span 4;
}

.sp-img-2 {
  grid-area: sp-img-2;
  grid-column: span 4;
}

.sp-img-1 {
  grid-area: sp-img-1;
  grid-column: span 4;
}

.sp-int-2 {
  grid-area: sp-int-2;
}

.sp-int-1 {
  grid-area: sp-int-1;
}

/* !--------------------------!
         #textile-patterns
   !--------------------------! */

#textile-patterns {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
       #sting-vodka-branding
   !--------------------------! */

#sting-vodka-branding {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
       #exhibition-catalog
   !--------------------------! */

#exhibition-catalog {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
           #patterns
   !--------------------------! */

#patterns {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
         #human-interest
   !--------------------------! */

#human-interest {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
         #wip
   !--------------------------! */

#wip {
  grid-column: content / col-end;
  display: grid;
  grid-template-columns: 4.5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: "content col col col col img";
  grid-gap: 3rem 10px;
}

/* !--------------------------!
       TODO: add breakpoints
   !--------------------------! */
