<template lang="html">
  <nuxt-link class="main-header-position" exact to="/">
    <h1 class="main-header">
      Jonathan<br />
      Alumbaugh
    </h1>
  </nuxt-link>
</template>

<script>
export default {
  name: 'mainHeader'
}
</script>
